<div class="container">
    <div class="row">
        <h1>Editar categorias</h1>
        <form name="form">
            <div>
                <label>ID:</label>
                <span>{{categoriaanimal.id}}</span>
            </div>
            <div class="form-group">
                <label for="nomeCategoria"></label>
                <input type="text" id="nomeCategoria" name="nomeCategoria" class="form-control" placeholder="Informe uma categoria"
                   [(ngModel)] = "categoriaanimal.nomeCategoria"/>
            </div>
            <button type="button" class="btn btn-default" (click)="submit()">Enviar</button>
        </form>
    </div>

</div>